* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }
  *::before, *::after {
    box-sizing: inherit; }

body {
  font-family: 'Roboto', sans-serif; }

.fake-header, .fake-landing-section {
  display: flex;
  justify-content: center;
  align-items: center; }

.fake-header {
  height: 100px;
  background-color: grey; }

.fake-landing-section {
  height: 500px;
  color: white;
  background-color: black; }

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 100%; }

.item-chart {
  padding: 15px;
  margin: 15px;
  border: 1px solid grey; }
